@charset "UTF=8"
/*ESTILOS PARA IMPRESSORA*/

*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
}

menu{
    display: none;
}

article::after{
    content: 'Este artigo foi impresso atraves do site Guilherme-advocacia.com';
}