@charset "UTF-8";

/*ESTILO PRINCIPAL*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: aliceblue;
}
header{
    background-color: gray;
}
header > h1{
    padding: 10px;
    text-align: center;
}

i#burger{
    color: white;
    display: block;
    text-align: center;
    background-color: rgb(85, 67, 67);
    padding: 10px;
    cursor: pointer;
}
i#burger:hover{
    background-color: rgb(101, 79, 79);
    color: rgb(85, 67, 67);
}

menu{
    display: none;
}
menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(93, 88, 88);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: rgb(184, 176, 176);
}
main{
    width: 90vw;
    background-color: white;
    text-align: justify;
    text-indent: 5%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding: 20px;
}

article > p{
    margin-bottom: 20px;
}